.aboutBG{
    margin:0px;
    padding:0px;
    background:#fff url("../images/AboutBG.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
}
.wordBlockPhone{
    height: 80%;
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}
.aboutTitle{
    color:#fff !important;
    margin-bottom: 10px;
}
.paragraph1{
    font-size: 18px;
    margin-top:60px;
}
.paragraph2{
    font-size: 18px;
    margin-top:20px;
}
.wordBlockWeb{
    height: 80%;
    width: 50%;
    padding: 30px;
}

.phone{
    display:none
  }

@media (max-width: 768px) {
    .phone{
      display:block
    }
    .web{
      display:none
    }
  }