.footerBG{
    margin:0px;
    padding:0px;
    background:#fff url("../images/footerBG.jpg") center center no-repeat;
    background-size: cover;
    color: #fff;
}

.footerBlock{
    height: 70vh;
    width: 65%;
    margin: 0 auto;

}

.footerTitle{
    text-align: center;
}
.logoArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionArea{
    color: #45525f;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    padding: 10px;
}
.imgFrame{
    width: 15vw;
    padding: 0 15px;
}
.imgFrameN{
    width: 15%;
    padding: 0 15px;
}

.seperateLine{
    border-bottom: 1px solid #88CAD0;
}