.gps {
    background-position:center;
    margin:0px;
    padding:0px;
    background:#fff url("../images/gpsBG.png") center center no-repeat;
    background-size: cover;
}
.GPSnTime{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.GPSBlock{
    width: 49%;
    padding: 0 40px;
    background:#0000 url("../images/gpsMapBG.png") center no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.timeTableBlock{
    width: 50%;
    height: 100%;
    padding: 0 40px;
}
.timeTable{
    width: fit-content;
}

.programnews{
    height: 115px;
    color:#FFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    margin: 30px 0;
    background:#0000 url("../images/news.png") center no-repeat;
    background-size: cover;
  }
  .programButton{
    display: flex;
    width:45%;
    color:#FFF;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background:#0000 url("../images/programButton.png") center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .programButton:hover{
    background:#0000 url("../images/programButtonD.png") center no-repeat;
    display: flex;
    width:45%;
    color:#FFF;
    align-items: center;
    justify-content: center;
    font-size: 26px;;
    background-size: cover;
    cursor: pointer;
  }
  .time{
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .ant-btn{
    font-weight: 400 !important;
    border: unset !important;
    height: 40px !important;
    padding: 0 30px !important;
    font-size: 20px !important;
    border-radius: 14px !important;
    color: #12436a !important;
    background-color: #fff !important;
    line-height: 24px !important;
  }
  .gpsTitle{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .gpsLocation{
    display: flex;
    height: 40%;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background:#0000 url("../images/gpsButtonL.png") center no-repeat;
    background-size: cover;
  }
  .gpsLocation:hover{
    background:#0000 url("../images/gpsButtonD.png") center no-repeat;
    display: flex;
    height: 40%;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-size: cover;
  }
@media (max-width: 768px) {
    .GPSnTime{
        display: flex;
        flex-flow: column;
        height: 80vh;
        justify-content: center;
        padding: 0 20px;
    }
    .GPSBlock{
        width: 100%;
        height: 100%;
        padding: 60px 40px;    
    }
    .timeTableBlock{
        width: 100%;
        margin:20px 0;
    }
    .programButton{
        font-size: 16px;
    }
    .gpsLocation{
        font-size: 16px;
      }

  }