.guesscard{
    background-color: #12436a; 
    background-position:center;
}
.info{
    color:#fff !important;
    margin: 20px;
    padding: 10px 40px;
    text-align: center;
}
.card{
    position: relative;
    width: 270px;
    float:left;
    margin: 10px;
  }
  img{
    display: block;
    width: 100%;
    height: auto;
  }
  .text-center{
    color: #fff;
  }
  .keyWords{
    color: #fff;
  }
  .contents{
    padding: 10px 10px;
    font-size: 16px;
    margin: 0;
  }

.ant-modal-content{
    background-color:unset !important
}
.ant-modal-close-x{
    font-size: 18px !important
}
.anticon{
    color:#FFF !important
}
.modalIframe{
    width: 100% !important;
    height: 90vh !important;
}
.ant-modal-content{
    padding: 5vh 0 !important;
}
.ant-modal{
    top:unset !important;
}

.modalIframe{
  width: 90vw !important;
  height: 70vh !important;
  position: relative;
}
.modalIImg{
  max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.phone{
  display:none
}


@media (max-width: 768px) {
  .phone{
    display:block
  }
  .web{
    display:none
  }
}