#background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    object-Fit: 'cover';
    
    }


.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.arrow {
    position: absolute;
    top: 60vh;
    display: block;
    left: 27%;
    margin-left: -50px;
    width: 160px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  
  .arrow .btn {
    color: white;
    font-size: 35px;
    padding: 0;
    width: 100%;
  }
  
  .arrow:hover .btn {
    transform: scale(1.2);
  }
  
  .btn:focus {
    box-shadow: none !important;
  }

  .newArrow {
    position: absolute;
    top: 90vh;
    display: block;
    left: 45%;
    width: 100px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  
  .Landingarrow .newBtn {
    color: white !important;
    font-size: 2em !important;
    padding: 0;
    width: 100%;
    opacity: 0.8;
  }
  
  .Landingarrow:hover .newBtn {
    transform: scale(1.2);
  }
  
  .newBtn:focus {
    box-shadow: none !important;
  }

.news{
  position: absolute;
  top: 50vh;
  display: block;
  left: 27%;
  margin-left: -50px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  padding: 20px;
  font-size: 18px;
  background-color: #2f6c8f;
  opacity: 0.7;
  border-radius: 5px;
  color:#FFF;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.title{
  position: absolute;
  top: 30vh;
  display: block;
  left: 20%;
  margin-left: -50px;
  width: 500px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.menu{
  background-color: #2f6c8f;
  opacity: 0.7;
  border-radius: 10px;
  color:#FFF;
  position: absolute;
  top: 20vh;
  display: block;
  left: 70%;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.Landingtitle{
    width: 500px;
    margin: 50px 0;
}
.Landingnews{
    margin: 50px 0;
    padding: 20px;
    font-size: 18px;
    background-color: #2f6c8f;
    opacity: 0.7;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.Landingarrow{
    width: 160px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.Landingmenu{
  background-color: #2f6c8f;
  opacity: 0.7;
  border-radius: 10px;
  color: #FFF;
  display: block;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  height: fit-content;
  margin: 50px 0;
}

.LandingnewArrow{
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    position: absolute;
    top: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coverTitleBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20vh;
  width: 100%;
}
.coverTitleBlockRow{
  display: flex;
  flex-direction: row;
   width: 100%;
   justify-content: space-evenly;
}
.coverTitleBlockCol{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.LandingnewsBlock{
  display: flex;
  flex-direction: column;
}

.liveIcon{
  padding: 0;
}

.listItem{
  margin: 8px 0;
}
.newBtn{
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
}

@media(max-width: 1440px) and (min-width: 991px){
  .coverTitleBlock{
    top: 15vh;
  }
  .Landingtitle {
    width: 450px;
    margin: 30px 0;
  }
  .Landingnews {
    margin: 20px 0;
  }
  .btn {
    padding:0px
  }
}


@media(max-width: 990px) and (min-width: 769px){
  .Landingmenu{
    display: none !important
  }
  .coverTitleBlock {
    top: 10vh;
  }
  .coverTitleBlockCol{
    align-items: center;
  }
  .Landingnews{
    margin-bottom: 20px;
  }
  .LandingnewsBlock{
    align-items: center;
  }
  .LandingnewArrow{
    top: 85vh;
  }
}


@media (max-width: 768px) and (min-width:550px) {
  .Landingmenu{
    display: none !important
  }
  .coverTitleBlock {
    top: 10vh;
  }
  .coverTitleBlockCol{
    align-items: center;
  }
  .Landingnews{
    margin-bottom: 20px;
  }
  .LandingnewsBlock{
    align-items: center;
  }
  .LandingnewArrow{
    top: 85vh;
  }
}

@media (max-width: 550px) {
  .Landingmenu{
    display: none !important
  }
  .Landingtitle {
    width: 300px;
    margin: 30px 0;
}
  .coverTitleBlock {
    top: 20vh;
  }
  .coverTitleBlockCol{
    align-items: center;
  }
  .Landingnews{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .LandingnewsBlock{
    align-items: center;
  }
  .LandingnewArrow{
    top: 85vh;
  }
}