#background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    object-Fit: 'cover';
    
    }


.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.arrow {
    position: absolute;
    top: 60vh;
    display: block;
    left: 20%;
    margin-left: -50px;
    width: 150px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  
  .arrow .btn {
    color: white;
    font-size: 35px;
    padding: 0;
    width: 100%;
  }
  
  .arrow:hover .btn {
    transform: scale(1.2);
  }
  
  .btn:focus {
    box-shadow: none !important;
  }

.news{
  position: absolute;
  top: 40vh;
  display: block;
  left: 20%;
  margin-left: -50px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  padding: 10px;
  font-size: 18px;
  background-color: #2f679778;
  border-radius: 5px;
  color:#FFF;
}
.title{
  position: absolute;
  top: 20vh;
  display: block;
  left: 20%;
  margin-left: -50px;
  width: 300px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.menu{
  background-color: #2f679778;
  border-radius: 10px;
  color:#FFF;
  position: absolute;
  top: 20vh;
  display: block;
  left: 70%;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

@media(max-width: 990px){
  .menu{
    display: none !important
  }
}


@media (max-width: 768px) {

}